{% extends 'base.html.twig' %}
{% block body%}
	{{parent()}}
	<h1>
		Les dernières annonces :</h1>
	{% block announcements %}
		<section class="annonces container py-5">
			<div class="d-flex justify-content-between flex-wrap">
				{% for announcement in announcements %}
					{% if announcement.dogs|length != 0 %}
						{% if not announcement.announcementClosed %}
							<div class="my-5 p-3 col-5 bg-body-secondary">
								<div class="chiens d-flex flex-row justify-content-evenly">
									{% for image in announcement.getDogsImages|slice(0, 3) %}
										<img src="{{vich_uploader_asset(image)}}" alt="image de chien" class="listImg">
									{% endfor %}
								</div>
								<h2 class="text-center">{{ announcement.title }}</h2>
								<h4>Nombre de chiens disponible :
									{{ announcement.dogs|length }}
								</h4>
								<div class="races d-flex align-items-center">
									<h4>Races :</h4>
									{% for race in announcement.getDogsRaces %}
										<p class="mx-3 my-0">
											{{race.name}}
										</p>
									{% endfor %}
								</div>
								<div class="d-flex align-items-center justify-content-between">
									<p>Dernière mise à jour :
										{{ announcement.updatedAt|date("d/m/Y") }}
									</p>
									<a href="{{path('app_annonce',{id:announcement.id})}}" class="btn btn-warning w-25 m-auto">Consulter</a>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			<div class="text-center">
				<a href="{{path('app_list_announcement')}}" class="btn btn-warning">Voir liste des chiens</a>
			</div>
		</section>
		<section class="actifsEleveurs container">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th scope="col">Noms éleveurs ou SPA</th>
						<th scope="col">Nombre annonces encore disponible</th>
						<th scope="col">Nombre annonces pourvues</th>
					</tr>
				</thead>
				<tbody>
					{% for announcer in announcers %}
						<tr>
							<td scope="row">
								{{announcer.lastName}}
							</td>
							<td>
								{{ announcer.announcements|length - announcer.countClosedAnnounces() }}
							</td>
							<td>
								{{ announcer.countClosedAnnounces() }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	{% endblock %}
{% endblock %}
