<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}WoofAdopte
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<script defer src="{{ asset('js/bootstrap.min.js') }}"></script>
		<link
		rel="stylesheet" href="{{ asset('css/style.css') }}">
		{# Commentaire nécessaire, mais perturbant #}
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block body %}
			{% block header %}
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{path('home')}}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Liste annonces</a>
							</li>
							{% if not is_granted("ROLE_ADPOTER") or not is_granted("ROLE_ANNOUNCER") or not is_granted("ROLE_ADMIN") %}
								<li class="nav-item">
									<a class="nav-link" href="{{path('security_login')}}">Connexion</a>
								</li>
							{% endif %}
							{% if is_granted("ROLE_ADOPTER") or is_granted("ROLE_ANNOUNCER") or is_granted("ROLE_ADMIN") %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
								</li>
							{% endif %}

						</ul>
					</div>
				</nav>
			{% endblock header %}
		{% endblock %}
	</body>
</html></body></html>
