<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}WoofAdopte
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<script defer src="{{ asset('js/bootstrap.min.js') }}"></script>
		<link
		rel="stylesheet" href="{{ asset('css/style.css') }}">
		{# Commentaire nécessaire, mais perturbant #}
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block header %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{path('home')}}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_list_announcement')}}">Liste annonces</a>
						</li>
						{% if not is_granted("ROLE_ADPOTER") or not is_granted("ROLE_ANNOUNCER") or not is_granted("ROLE_ADMIN") %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('security_login')}}">Connexion</a>
							</li>
						{% endif %}
						{% if is_granted("ROLE_ADOPTER") or is_granted("ROLE_ANNOUNCER") or is_granted("ROLE_ADMIN") %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
							</li>
						{% endif %}

					</ul>
				</div>
			</nav>
		{% endblock header %}
		{% block body %}{% endblock %}
		{% block footer %}
			<footer class="p-4 mt-5 bg-dark text-white">
				<div class="d-flex align-items-center justify-content-between">
					<h1 class="w-25">WoofAdopte</h1>
					<div class="text-center">
						<p class="my-0 w-50">Malak_Emilly_Hichem_Ernaud©HumanBooster_2023</p>
					</div>
					<div class="w-25"></div>
				</div>
			</footer>
		{% endblock footer %}
	</body>
</html></body></html>
