{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<section class="container">
		<div class="d-flex flex-wrap justify-content-between">
			{% for annonce in annonces %}
				{% for dog in annonce.dogs %}
					{% if dog.isAdopted == 0 %}

						<article class="my-5 p-3 col-5 bg-body-secondary">
							<div class="text-center">
								{% for image in dog.images %}
									<img src="{{ asset(image.path) }}" alt="">
								{% endfor %}
							</div>
							<h1 class="text-center">{{annonce.title}}</h1>
							<div class="d-flex justify-content-around my-3">
								<p>Chiens disponibles :{{annonce.dogs|length}}</p>
								{% for race in dog.races %}
									<p>Races disponibles :
										{{race.name}}</p>
								{% endfor %}
							</div>
							<div class="d-flex justify-content-between align-items-center">
								<p class="m-0">Mis à jour :
									{{annonce.updatedAt|date("m/d/Y")}}</p>
								<a href="#" class="btn btn-warning">Consulter</a>
							</div>

						</article>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
