{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div class="d-flex container justify-content-around align-items-center">
		{{ form_row(form.isLof) }}
		<div class="text-nowrap">
			{{ form_row(form.isAdopted) }}
		</div>
		{{ form_row(form.race) }}
		<button type="submit" class="btn btn-warning">Valider</button>
	</div>

	{{ form_end(form) }}
	<section class="container">
		{% if is_granted("ROLE_ANNOUNCER") %}
			<a href="{{ path('addAnnouncement_new')}}" class="btn btn-warning">Ajoutez une annonce</a>
		{% endif %}
		<div class="d-flex flex-wrap justify-content-between">
			{% for announcement in announcements %}
				<article class="my-5 p-3 col-5 bg-body-secondary">
					<div>
						{% if announcement.getAdoptableDogs|length == 0 and announcement.dogs|length > 0 %}
							<p class="btn btn-warning pe-none">Pourvue</p>
						{% endif %}
					</div>
					<div class="text-center">
						{% for image in announcement.getDogsImages(true)|slice(0, 3) %}
							<img src="{{ vich_uploader_asset(image) }}" alt="" class="listImg">
						{% endfor %}
					</div>
					<h1 class="text-center">{{announcement.title}}</h1>
					<div class="d-flex justify-content-around my-3">
						<p>Chiens disponibles :{{announcement.getAdoptableDogs()|length}}</p>
						<p>Races disponibles :
							{% for dog in announcement.getAdoptableDogs() %}
								{% set loopDog = loop %}
								{% for race in dog.races %}
									{{race.name -}}
									{%- if not loop.last or not loopDog.last %},
									{% endif %}
								{% endfor %}
							{% endfor %}
						</p>
					</div>
					<div class="d-flex justify-content-between align-items-center">
						<p class="m-0">Mis à jour :
							{{announcement.updatedAt|date("m/d/Y")}}</p>
						<a href="{{path('announcement_show',{id:announcement.id})}}" class="btn btn-warning">Consulter</a>
					</div>

				</article>
			{% endfor %}
		</div>
	</section>
{% endblock %}
